## ansible-playbook -i inventories/local.ini ./playbooks/write_hostname_to_file.yml -v
## ansible-playbook -i inventories/ibmcloud.yml ./playbooks/write_hostname_to_file.yml -v -e target_device="demo.target"  --vault-password-file=vaultpass.txt 

- name: Write hostname to file
  hosts: "{{ target_device | default('localhost') }}"
  gather_facts: false
  tasks:
  - name: Print hostname
    shell: "hostname"
    register: "hostname_output"
  - name: Create a directory if it doesn’t exist
    file:
      path: /tmp/demo
      state: directory
      mode: '0755'
  - name: Create a file to store the hostname if it doesn’t exist
    file:
      path: /tmp/demo/hostname.txt
      state: touch
      access_time: preserve
      modification_time: preserve
      mode: u=rw,g=r,o=r
  - name: Store hostname in file
    copy:
      content: "{{ hostname_output.stdout }}\n"
      dest: "/tmp/demo/hostname.txt"
